body {
  background-color: #000;
  font-family: 'Montserrat', sans-serif;
}

.app {
  max-width: 1300px;
  width: 100%;
  margin: 5px auto;
  box-sizing: border-box;
  background-color: #000;
}

.details {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.details .thumb img {
  max-width: 70px;
  margin: 10px;
  padding-top: 70px;
}


.details .big-image img {
  max-width: 850px;
  border-radius: 12px;
}

.details .box {
 
  padding-top: 100px;
}

.box h2 {
  color: #fff;
  max-width: 300px;
  text-align: center;
  padding-bottom: 50px;
}

.box a {
  
  font-weight: bold;
  background-color: #fff;
  color: #000;
  margin-left: 10px;
  padding: 13px 50px 13px 50px;
  text-decoration: none;
  border-radius: 30px;
}

.box a img {
  width: 16px;
}